* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 2rem;
}
p {
  font-size: 1.2rem;
}
.header {
  width: 100vw;
  height: 15vh;
  padding: 1.3rem;
  background-color: #283618;
  color: #fefae0;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.nav-bar li {
  font-size: 1.5rem;
  list-style: none;
  text-transform: lowercase;
  cursor: pointer;
  transition: 0.2s all ease;
  margin: 1rem;
  text-decoration: none;
  font-weight: 500;
}
.link {
  text-decoration: none;
  color: #fefae0;
}

.header-title {
  width: 30%;
  font-weight: 600;
}

.about-container {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fefae0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/pexels-rudolf-jakkel-418831.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem;
}
.about-title {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.about-container a {
  margin: 2rem;
  text-decoration: underline;
  cursor: pointer;
}
.parks-container {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefae0;
}

select {
  width: 70vw;
  max-height: 50vh;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.natl-park-container {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.parks-title {
  margin: 1rem;
  text-align: center;
}
.parks-desc {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.natl-park-img {
  width: 80vw;
  height: auto;
}

label {
  margin-bottom: 1rem;
}

.parks-link {
  background-color: #606c38;
  margin-top: 1rem;
  width: 40vw;
  height: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: #fefae0;
  border-radius: 1rem;
}

@media only screen and (min-width: 769px) {
  .natl-park-img {
    max-height: 40vh;
    width: auto;
  }
  .natl-park-container {
    max-width: 50vw;
  }
  a {
    font-size: 1.1rem;
  }
  .parks-desc {
    font-size: 1.2rem;
  }
  .link {
    font-size: 1.8rem;
  }
  .header-title {
    font-size: 2.3rem;
  }
  .about-container {
    padding-right: 20vw;
    padding-left: 20vw;
  }
  .about-title {
    font-size: 3rem;
  }
  .about-container p {
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
  }
  .parks-link {
    width: 20vw;
  }
} ;
